security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        App\Entity\User:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            stateless: false

            custom_authenticators:
                - App\Authenticator\LoginFormAuthenticator

            entry_point: App\Authenticator\LoginFormAuthenticator

            # switch_user: true

    access_control:
        # Auth entry points
        - { path: ^/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/oidc, roles: PUBLIC_ACCESS }
        - { path: ^/saml, roles: PUBLIC_ACCESS }

        # Everything else requires auth
        - { path: ^/, roles: ROLE_USER }


when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
