{% extends 'base.html.twig' %}

{% block title %}Basic Dashboard{% endblock %}

{% block body %}
<div class="bg-light min-vh-100">
    <header class="bg-dark text-white p-3 mb-3">
        <div class="container-fluid">
            <h1 class="h3 mb-0">Dashboard Header</h1>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-12 col-md-3 col-lg-2 bg-white border-end p-3">
                <h5 class="mb-3">Sidebar</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link">Item 1</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Item 2</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Item 3</a></li>
                </ul>
            </aside>

            <main class="col-12 col-md-9 col-lg-10 p-4">
                <h2>Main Content</h2>
                <p>This is a very basic Bootstrap 5 dashboard layout.</p>
                <div class="card mb-3">
                    <div class="card-header">Cookies</div>
                    <div class="card-body">
                        <pre class="mb-0">{{ dump(app.request.cookies.all) }}</pre>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">User</div>
                    <div class="card-body">
                        <pre class="mb-0"><code>{{ dump(app.user) }}</code></pre>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <p class="mb-0">Dashboard Footer</p>
    </footer>
</div>
{% endblock %}
